################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
*.opendb
/Homework 3.5/Debug
/Homework 3.5/x64/Debug
/UnitTester/Debug
/UnitTester/x64/Debug
/x64/Debug
